#hero {
  background-image: url('/assets/images/bg/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.hero-visible {
    opacity: 1;
  }

  @media (max-width: 768px) {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .left {
    // @media (max-width: 768px) {
    //   margin-bottom: 2rem;
    // }

    h1 {
      color: transparent;
      background: linear-gradient(135deg, #a7a4a4, #fff);
      -webkit-background-clip: text;
      background-clip: text;

      @media (max-width: 768px) {
        font-size: 2.5rem;
        // margin-bottom: 2rem;
      }

      @media (max-width: 480px) {
        font-size: 2rem;
      }

      span {
        color: transparent;
        background: linear-gradient(135deg, #c92b5b, #e53670);
        -webkit-background-clip: text;
        background-clip: text;
      }
    }

    p {
      color: #a7a4a4;
    }
  }

  img {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    max-width: 700px;

    @media (max-width: 768px) {
      max-width: 100%;
      padding: 0 1rem;
    }
  }

  // CSSアニメーション
  .hero-title {
    opacity: 0;
    transition: opacity 2s ease-in-out;

    &.fade-in {
      opacity: 1;
    }
  }

  .hero-buttons {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-in-out 0.5s, transform 1s ease-in-out 0.5s;

    &.slide-in-left {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .hero-image {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease-in-out 0.5s, transform 1s ease-in-out 0.5s;

    &.slide-in-right {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
