.btn {
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
  font-weight: bold;

  a {
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: skew(15deg);
    transform: skew(15deg);
  }

  &:hover {
    -webkit-transform: skew(0);
    transform: skew(0);
    color: #fff;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

    a {
      -webkit-transform: skew(0deg);
      transform: skew(0deg);
    }
  }
}

.btnGrad {
  @extend .btn;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#C92B5B),
    to(#E53670)
  );
  background-image: -webkit-linear-gradient(90deg, #C92B5B 0%, #E53670 100%);
  background-image: linear-gradient(90deg, #C92B5B 0%, #E53670 100%);
}

.btnBorder {
  @extend .btn;
  border: 2px solid;
  border-image: linear-gradient(180deg, #E53670, #C92B5B) 1;
}
