#kisaragi {
  h2 {
    text-align: left;
    margin-left: 4rem;
  }
  .kisaragi-img {
    width: 100%;
    margin-top: -50px;
    z-index: -100;
    position: relative;
  }
  .image-container {
    visibility: hidden;
    opacity: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
}
