.flow-slider {
  .swiper {
    overflow: visible;
  }
  .swiper-wrapper {
    transition-timing-function: linear !important;
    display: flex;
    align-items: center;
    overflow: visible;

    .slide {
      overflow: visible;
      background-color: #130731;
      padding: 20px;
      &:hover {
        transform: scale(1.05);
      }
      img {
        width: auto;
        object-fit: contain;
        height: 100px;
        margin: auto;
      }
    }
  }
}
