#join-discord {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  p {
    line-height: 1.8;
  }

  .grad-btn {
    -webkit-box-shadow: 0px 0px 20px 5px rgba(49, 161, 251, 0.6);
    box-shadow: 0px 0px 20px 5px rgba(49, 161, 251, 0.6);
  }
}
