#games {
  .game-list {
    .game {
      border-radius: 20px;
      border-top-right-radius: 0;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 16 / 9;
      }

      &-label {
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 300;
        position: absolute;
        top: 0;
        right: 0;
        background-image: -webkit-gradient(
          linear,
          left top,
          right top,
          from(#2af598),
          to(#009efd)
        );
        background-image: -webkit-linear-gradient(
          135deg,
          #8116f4 0%,
          #2fa2fb 100%
        );
        background-image: linear-gradient(135deg, #8116f4 0%, #2fa2fb 100%);
      }
    }
  }
}
