#solutions {
  .solution {
    position: relative;
    padding: 20px 10px;
    background-color: rgba(#fff, 0.1);
    border-radius: 20px;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 20px;
      border: 2px solid transparent;
      background: linear-gradient(to bottom, #E53670, #C92B5B) border-box;

      // FireFox
      mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
      mask-clip: padding-box, border-box;
      mask-composite: exclude;

      // それ以外の主要ブラウザ
      -webkit-mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
      -webkit-mask-clip: padding-box, border-box;
      -webkit-mask-composite: destination-out;
    }
  }

  .border-btn {
    width: fit-content;
    margin: 50px auto;
    a::after {
      content: '▶︎';
      font-size: 12px;
      margin-left: 10px;
      // position: absolute;
      // right: 10%;
      // top: 50%;
      // transform: translateY(-50%);
    }
  }
}
