:root {
  --easing: cubic-bezier(0.2, 1, 0.2, 1);
  --transition: 0.8s var(--easing);
  --color-base: #f8f8f8;
  --color-gray: #ddd;
  --color-theme: #f5695f;
  --box-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.05),
    -0.8rem -0.8rem 1.2rem #fff;
  --box-shadow-hover: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.08),
    -1rem -1rem 1.5rem #fff;
  --box-shadow-inset: inset 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.05),
    inset -0.8rem -0.8rem 1.2rem #fff;
  --box-shadow-dark: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.1),
    -0.8rem -0.8rem 1.2rem rgba(#fff, 0.2);
}

[class*='swiper']:focus {
  outline: none;
}

.squere-slider {
  // overflow: hidden;

  .swiper {
    overflow: visible;
    width: 33.33%;

    @media (max-width: 768px) {
      width: 80%;
    }

    @media (max-width: 480px) {
      width: 90%;
    }

    .swiper-slide {
      -webkit-transition: var(--transition);
      transition: var(--transition);
      border-radius: 20px;
      background-color: black;
      color: black;
      cursor: pointer;
      &:not(.swiper-slide-visible) {
        .slide {
          pointer-events: none;
          opacity: 0.4;
        }
      }
    }
    .swiper-slide-prev,
    .swiper-slide-next {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: grid;
      place-content: center;
      width: 6.4rem;
      height: 6.4rem;
      cursor: pointer;
      -webkit-transition: var(--transition);
      transition: var(--transition);

      @media (max-width: 768px) {
        width: 4rem;
        height: 4rem;
      }

      @media (max-width: 480px) {
        width: 3rem;
        height: 3rem;
      }
    }
    .swiper-button-prev::before,
    .swiper-button-next::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      border-radius: 50%;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
      width: 3rem;
      height: auto;
      content: '';
      background-image: url('/assets/images/slider-arrow.png');
      background-repeat: no-repeat;
      background-size: cover;
      width: 53px;
      height: 79px;
      transform: scale(0.8);

      @media (max-width: 768px) {
        width: 35px;
        height: 52px;
        // transform: scale(0.6);
      }

      @media (max-width: 480px) {
        width: 26px;
        height: 39px;
        // transform: scale(0.5);
      }
    }
    .swiper-button-prev::after {
      margin-left: 0.4rem;
    }
    .swiper-button-next::after {
      margin-right: 0.4rem;
      -webkit-transform: rotate(180deg) scale(0.8);
      transform: rotate(180deg) scale(0.8);
    }
    .swiper-button-disabled {
      pointer-events: none;
      opacity: 0;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .swiper-button-prev {
    right: calc(100% - 0.6rem);
    left: unset;
  }
  .swiper-button-next {
    left: calc(100% - 0.6rem);
    right: unset;
  }

  .slide {
    overflow: hidden;
    -webkit-transition: var(--transition), opacity 1s;
    transition: var(--transition), opacity 1s;
    -webkit-box-shadow: 0px 0px 20px 5px #c92b5b;
    box-shadow: 0px 0px 20px 5px #c92b5b;
    padding: 2px;
    border-radius: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 20px;
      border: 2px solid transparent;
      background: linear-gradient(to bottom, #e53670, #c92b5b) border-box
        border-box;
      -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0) border-box;
      -webkit-mask-composite: destination-out;
      mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0) border-box;
      mask-composite: exclude;
    }

    img {
      -webkit-transition: var(--transition);
      transition: var(--transition);
      object-fit: cover;
      aspect-ratio: 16 / 9;
    }

    &:hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  .swiper-slide:not(.swiper-slide-visible) .slide {
    pointer-events: none;
    opacity: 0.4;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .swiper-button-prev:hover::before,
  .swiper-button-next:hover::before {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  .swiper-pagination {
    bottom: -40px !important;
    .swiper-pagination-bullet {
      background-color: transparent;
      border: 1px solid #c92b5b;
      opacity: 1;

      &-active {
        background-color: #c92b5b;
      }
    }
  }
}
